monitoring-of-competitors/workflow_ready_to_import.json
{
  "name": "Monitoring of Competitors v2",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.g2.com/search?query={{ $('Loop Companies1').item.json.companyName }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "a0cc205c-7825-46c9-8d4b-be682b5e6605",
      "name": "Fetch G2 Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7136,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "var html = $input.item.json.body || '';\nvar loopData = $('Loop Companies1').item.json;\nvar editFieldsData = $('Edit Fields').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\n\nvar ratingMatch = html.match(/(\\d+\\.\\d+)\\s*out of 5 stars/i) || html.match(/\"rating[\"\\s:]*(\\d+\\.\\d+)/i);\nvar reviewsMatch = html.match(/(\\d+[\\d,]*)\\s+reviews?/i);\n\nif (!ratingMatch) {\n  return { company: company, g2Data: 'Не знайдено на G2', g2Found: false, g2ReviewsCount: 0 };\n}\n\nvar rating = ratingMatch[1];\nvar reviewsCount = reviewsMatch ? reviewsMatch[1] : '0';\n\nreturn {\n  company: company,\n  g2Data: 'G2: ' + rating + ' (' + reviewsCount + ' відгуків)',\n  g2Found: true,\n  g2Rating: parseFloat(rating),\n  g2ReviewsCount: parseInt(reviewsCount.replace(/,/g, '') || '0')\n};"
      },
      "id": "790274e6-a320-4626-aeec-42257f1fa436",
      "name": "Parse G2 Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "var g2 = $input.item.json;\nvar loopData = $('Loop Companies1').item.json;\nvar editFieldsData = $('Edit Fields').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\nvar aggregatorMentions = g2.g2Data || 'Не знайдено';\n\nreturn {\n  company: company,\n  aggregatorMentions: aggregatorMentions,\n  g2Rating: g2.g2Rating || null,\n  g2ReviewsCount: g2.g2ReviewsCount || 0\n};"
      },
      "id": "820a6efe-c96b-42c4-8fd7-efa15231c982",
      "name": "Merge Aggregator Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7536,
        720
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "aa6123d0-bf3d-48eb-8892-ed1afcef47bd",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        6336,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "09ebc2e3-b846-44f3-9a75-baa359845dc0",
      "name": "Loop Companies1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6752,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.companyUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            }
          ]
        },
        "options": {
          "redirect": {},
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true,
              "responseFormat": "autodetect"
            }
          },
          "timeout": 30000
        }
      },
      "id": "ea7dc763-7d21-4a44-a4a2-4bc7cb979ff1",
      "name": "Fetch Website1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7136,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Auto-detect YouTube Channel - FIXED v2\nvar websiteHtml = $('Fetch Website1').item.json.data || $('Fetch Website1').item.json.body || '';\nvar loopData = $('Loop Companies1').item.json;\nvar editFieldsData = $('Edit Fields').item.json;\nvar companyName = editFieldsData.companyName || loopData.companyName || loopData.name || 'Unknown';\n\n// Extended patterns for YouTube channels\nvar youtubePatterns = [\n  /youtube\\.com\\/channel\\/([a-zA-Z0-9_-]{20,30})/i,\n  /youtube\\.com\\/@([a-zA-Z0-9_.-]+)/i,\n  /youtube\\.com\\/c\\/([a-zA-Z0-9_-]+)/i,\n  /youtube\\.com\\/user\\/([a-zA-Z0-9_-]+)/i,\n  /href=[\"'][^\"']*youtube\\.com\\/channel\\/([a-zA-Z0-9_-]+)/i,\n  /href=[\"'][^\"']*youtube\\.com\\/@([a-zA-Z0-9_.-]+)/i\n];\n\nvar channelId = null;\nvar channelUrl = null;\nvar channelHandle = null;\n\nfor (var i = 0; i < youtubePatterns.length; i++) {\n  var match = websiteHtml.match(youtubePatterns[i]);\n  if (match && match[1]) {\n    var found = match[1];\n    if (found.match(/^UC[a-zA-Z0-9_-]{22}$/)) {\n      channelId = found;\n      channelUrl = 'https://www.youtube.com/channel/' + found;\n    } else {\n      channelHandle = found;\n      channelUrl = match[0].includes('@')\n        ? 'https://www.youtube.com/@' + found\n        : 'https://www.youtube.com/c/' + found;\n    }\n    break;\n  }\n}\n\nreturn {\n  company: companyName,\n  youtubeChannelId: channelId,\n  youtubeHandle: channelHandle,\n  youtubeUrl: channelUrl,\n  autoDetected: !!(channelId || channelHandle),\n  htmlLength: websiteHtml.length\n};\n"
      },
      "id": "dcf4f59a-d0ce-42fd-b5ae-2e24b0b21acd",
      "name": "Auto-detect YouTube Channel1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        384
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "channelId",
              "value": "={{ $json.youtubeChannelId }}"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "publishedAfter",
              "value": "={{ $now.minus(7, 'days').toISO() }}"
            },
            {
              "name": "key",
              "value": "={{ $credentials.youtubeApiKey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d4f11367-e2db-40b9-b28d-0c631d08cea5",
      "name": "YouTube API Search1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7536,
        384
      ],
      "credentials": {
        "googleApi": {
          "id": "BusW9DlkA4x5GyCq",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse YouTube Data - FIXED v2\nvar response = $input.item.json;\nvar loopData = $('Loop Companies1').item.json;\nvar editFieldsData = $('Edit Fields').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\nvar autoDetect = $('Auto-detect YouTube Channel1').item.json;\n\n// If channel not found\nif (!autoDetect.autoDetected) {\n  return {\n    company: company,\n    youtubeActivity: 'YouTube channel not found on site',\n    youtubeVideoCount: 0,\n    youtubeUrl: null\n  };\n}\n\n// If API returned error\nif (response.error || !response.items) {\n  var errorMsg = response.error ? response.error.message : 'API error';\n  return {\n    company: company,\n    youtubeActivity: 'YouTube API error: ' + errorMsg,\n    youtubeVideoCount: 0,\n    youtubeUrl: autoDetect.youtubeUrl\n  };\n}\n\n// If no new videos\nif (response.items.length === 0) {\n  return {\n    company: company,\n    youtubeActivity: 'No new videos this week',\n    youtubeVideoCount: 0,\n    youtubeUrl: autoDetect.youtubeUrl\n  };\n}\n\nvar videos = response.items;\nvar videoCount = videos.length;\nvar latestVideo = videos[0];\n\nreturn {\n  company: company,\n  youtubeActivity: videoCount + ' new videos this week. Latest: \"' + latestVideo.snippet.title + '\" (' + latestVideo.snippet.publishedAt.split('T')[0] + ')',\n  youtubeVideoCount: videoCount,\n  youtubeUrl: autoDetect.youtubeUrl,\n  youtubeVideos: videos.slice(0, 3).map(function(v) {\n    return {\n      title: v.snippet.title,\n      publishedAt: v.snippet.publishedAt,\n      url: 'https://www.youtube.com/watch?v=' + v.id.videoId\n    };\n  })\n};\n"
      },
      "id": "839e509d-c8d9-4167-b100-329e63644dd4",
      "name": "Parse YouTube Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7776,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "var websiteHtml = $('Fetch Website1').item.json.body || $('Fetch Website1').item.json.data || '';\nvar loopData = $('Loop Companies1').item.json;\nvar company = loopData.companyName || loopData.name || loopData.company || 'Unknown';\n\nfunction extractUrl(html, pattern) {\n  var match = html.match(pattern);\n  return match ? match[0] : null;\n}\n\nreturn {\n  company: company,\n  linkedin: extractUrl(websiteHtml, /linkedin\\.com\\/company\\/[a-zA-Z0-9_-]+/i),\n  facebook: extractUrl(websiteHtml, /facebook\\.com\\/[a-zA-Z0-9._-]+/i),\n  twitter: extractUrl(websiteHtml, /(?:twitter|x)\\.com\\/[a-zA-Z0-9_]+/i),\n  instagram: extractUrl(websiteHtml, /instagram\\.com\\/[a-zA-Z0-9._]+/i),\n  youtube: extractUrl(websiteHtml, /youtube\\.com\\/(?:channel|c|user|@)[\\/]?[a-zA-Z0-9_-]+/i)\n};"
      },
      "id": "9d395e5d-c286-435a-a746-ef8dbf7a0da5",
      "name": "Auto-detect Social Links1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "var data = $input.item.json;\nvar loopData = $('Loop Companies1').item.json;\nvar editFieldsData = $('Edit Fields').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\n\nvar socialCount = 0;\nvar activities = [];\nif (data.linkedin) { activities.push('LinkedIn: ' + data.linkedin); socialCount++; }\nif (data.facebook) { activities.push('Facebook: ' + data.facebook); socialCount++; }\nif (data.twitter) { activities.push('Twitter: ' + data.twitter); socialCount++; }\nif (data.instagram) { activities.push('Instagram: ' + data.instagram); socialCount++; }\n\nreturn {\n  company: company,\n  linkedinActivity: data.linkedin ? 'Профіль: ' + data.linkedin : '-',\n  facebookActivity: data.facebook ? 'Сторінка: ' + data.facebook : '-',\n  allSocialLinks: activities.join('; ') || '-',\n  socialLinksCount: socialCount\n};"
      },
      "id": "b190e34f-3e98-448f-a31e-12d36dd138eb",
      "name": "Format Social Activity1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7536,
        528
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Компанії",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DeWOqjCKG1IIdjn29aEC8HBEAkqTrGYb3FjOmJlERGw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Аркуш1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DeWOqjCKG1IIdjn29aEC8HBEAkqTrGYb3FjOmJlERGw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6528,
        192
      ],
      "id": "6b707ae8-8d37-4e50-a830-641e92aa99a6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Аналізуй компанію та поверни JSON.\n\nДАНІ:\nКомпанія: {{ $input.all()[0].json.company }}\nURL: {{ $input.all()[0].json.url || '-' }}\nTitle: {{ $input.all()[0].json.currentData.website.title || '-' }}\nDescription: {{ $input.all()[0].json.currentData.website.description || '-' }}\nYouTube: {{ $input.all()[1].json.youtubeActivity || '-' }}\nLinkedIn: {{ $input.all()[2].json.linkedinActivity || '-' }}\nFacebook: {{ $input.all()[2].json.facebookActivity || '-' }}\nG2: {{ $input.all()[3].json.aggregatorMentions || '-' }}\nБлог статей: {{ $input.all()[0].json.currentData.blog.articlesFound || 0 }}\nВідгуків: {{ $input.all()[0].json.currentData.reviews.count || 0 }}\n\nПОВЕРНИ JSON (без ```):\n{\n  \"company\": \"{{ $input.all()[0].json.company }}\",\n  \"url\": \"{{ $input.all()[0].json.url || '-' }}\",\n  \"youtubeActivity\": \"{{ $input.all()[1].json.youtubeActivity || '-' }}\",\n  \"linkedinActivity\": \"{{ $input.all()[2].json.linkedinActivity || '-' }}\",\n  \"facebookActivity\": \"{{ $input.all()[2].json.facebookActivity || '-' }}\",\n  \"aggregatorMentions\": \"{{ $input.all()[3].json.aggregatorMentions || '-' }}\",\n  \"socialMentionsCount\": {{ ($input.all()[2].json.socialLinksCount || 0) + ($input.all()[3].json.g2ReviewsCount || 0) }},\n  \"newFeatures\": [\"виділи 2-3 ключові фічі з title/description\"],\n  \"problems\": [\"якщо є скарги - вкажи, інакше '-'\"],\n  \"reviewInsights\": \"короткий висновок про відгуки або '-'\",\n  \"news\": [\"останні новини або '-'\"],\n  \"blogArticles\": [{\"title\": \"назва\", \"date\": \"дата\", \"summary\": \"опис\"}],\n  \"customerPains\": [\"болі клієнтів або '-'\"],\n  \"customerWants\": [\"потреби клієнтів або '-'\"],\n  \"summary\": \"1-2 речення про компанію: позиціонування, сильні сторони\"\n}",
        "options": {
          "systemMessage": "Ти аналітик. Повертай ТІЛЬКИ valid JSON без markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        8320,
        448
      ],
      "id": "e9acb71c-fe70-46bf-8e2c-330b45b5d94b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        8320,
        656
      ],
      "id": "1b988c5c-b099-4b1d-a063-f996a766ba46",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qgsIGQOIOptnu1JA",
          "name": "Oki-toki API GPT"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        8144,
        400
      ],
      "id": "49a26270-4411-47fd-aa2d-2fc42a8d54bf",
      "name": "Merge6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EMj5nBku5u0UQQbC",
          "mode": "list",
          "cachedResultUrl": "/workflow/EMj5nBku5u0UQQbC",
          "cachedResultName": "website checker_backup(единственный раочий) (вебхук не тот)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7136,
        192
      ],
      "id": "bad2a6f6-8fa0-4b41-ac8d-62c59e330fd1",
      "name": "Call 'website checker_backup(единственный раочий) (вебхук не тот)'",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "760d4b4d-ee9a-4787-a693-2c116b729075",
              "name": "companyUrl",
              "value": "={{ $json.company || $json.url || $json.URL || '' }}",
              "type": "string"
            },
            {
              "id": "company-name-001",
              "name": "companyName",
              "value": "={{ (() => { const url = $json.company || $json.url || $json.URL || ''; const match = url.match(/https?:\\/\\/(?:www\\.)?([^\\/\\.]+)/i); return match ? match[1].charAt(0).toUpperCase() + match[1].slice(1) : 'Unknown'; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6960,
        192
      ],
      "id": "aeeac761-5a12-4037-9875-04b7f6103a2e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Extract & Filter URLs - V2 з розширеними паттернами\nvar scanResult = $input.item.json;\nvar allResults = scanResult.all_results || [];\nvar editFieldsData = $('Edit Fields').first().json;\nvar companyName = editFieldsData.companyName || 'Unknown';\nvar companyUrl = editFieldsData.companyUrl || '';\nconsole.log('Extract URLs - Company:', companyName, 'Total URLs:', allResults.length);\nvar categories = {\nblog: /\\/(blog|blogs|article|articles|post|posts|insights|journal|novosti|stati|publikacii)/i,\nnews: /\\/(news|press|announcements|newsroom|events|meropriyatiya|sobytiya)/i,\nreviews: /\\/(review|reviews|testimonial|testimonials|customer-stories|success-stories|case-studies|otzyvy|klienty|use_mango|clients)/i,\npricing: /\\/(pricing|price|prices|plans|tarif|cost|tariffs|ceny|stoimost)/i,\nfeatures: /\\/(features|feature|capabilities|vozmozhnosti|resheniya|funktsii|marketplace|integraciya)/i\n};\nvar categorizedUrls = [];\nvar seenUrls = new Set();\nfor (var i = 0; i < allResults.length; i++) {\nvar result = allResults[i];\nvar url = result.url || '';\nif (result.has_errors || seenUrls.has(url)) continue;\nseenUrls.add(url);\nif (url.match(/\\/$/)) {\nvar path = url.replace(/https?:\\/\\/[^\\/]+/, '');\nif (path === '/' || path === '/about/' || path === '/promo/' || path === '/products/') continue;\n}\nfor (var cat in categories) {\nif (categories[cat].test(url)) {\ncategorizedUrls.push({\nurl: url,\ncategory: cat,\nstatus_code: result.status_code,\ncompanyName: companyName,\ncompanyUrl: companyUrl\n});\nbreak;\n}\n}\n}\nconsole.log('Filtered URLs:', categorizedUrls.length, 'Categories:', categorizedUrls.map(function(u) { return u.category; }).join(', '));\nif (categorizedUrls.length === 0) {\nreturn [{ json: { url: '', category: 'none', status_code: 0, companyName: companyName, companyUrl: companyUrl } }];\n}\nreturn categorizedUrls.map(function(item) { return { json: item }; });"
      },
      "id": "32d4a964-1c6b-49a6-8e6c-4239f89e6fbe",
      "name": "Extract & Filter URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "ed3abcb5-fcab-4d1d-8463-c2617792ddaa"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1eb21feb-ff42-4764-bf30-577f69beb34e",
      "name": "Remove Empty Items",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        7536,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-url-001",
              "name": "pageUrl",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "set-category-001",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "set-company-001",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "set-companyurl-001",
              "name": "companyUrl",
              "value": "={{ $json.companyUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7776,
        192
      ],
      "id": "26ba41dc-e777-43e9-bb01-ca7583bcaaab",
      "name": "Set Fields Before Fetch"
    },
    {
      "parameters": {
        "url": "={{ $json.pageUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "d8142183-9214-4c0e-9352-567ab9ebff44",
      "name": "Fetch Page Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7952,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Page Content - V4 (fixed: data instead of body)\nvar inputItem = $input.item.json;\nvar html = inputItem.data || inputItem.body || '';\nvar setFieldsData = $('Set Fields Before Fetch').item.json;\nvar companyName = setFieldsData.companyName || 'Unknown';\nvar companyUrl = setFieldsData.companyUrl || '';\nvar pageUrl = setFieldsData.pageUrl || '';\nvar category = setFieldsData.category || 'unknown';\nfunction cleanText(text) {\nif (!text) return '';\nreturn text.replace(/&nbsp;/gi, ' ').replace(/&amp;/gi, '&').replace(/&lt;/gi, '<').replace(/&gt;/gi, '>').replace(/&#\\d+;/g, '').replace(/\\s+/g, ' ').trim();\n}\nvar cleanHtml = html.replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '').replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '').replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '').replace(/<aside[^>]*>[\\s\\S]*?<\\/aside>/gi, '').replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '').replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\nvar titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\nvar title = titleMatch ? cleanText(titleMatch[1]) : null;\nvar descMatch = html.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']+)[\"']/i);\nvar description = descMatch ? cleanText(descMatch[1]) : null;\nvar h1Matches = cleanHtml.match(/<h1[^>]*>([\\s\\S]*?)<\\/h1>/gi) || [];\nvar h2Matches = cleanHtml.match(/<h2[^>]*>([\\s\\S]*?)<\\/h2>/gi) || [];\nvar h3Matches = cleanHtml.match(/<h3[^>]*>([\\s\\S]*?)<\\/h3>/gi) || [];\nvar h1Tags = h1Matches.map(function(h) { return cleanText(h.replace(/<[^>]+>/g, '')); }).filter(function(t) { return t.length > 2 && t.length < 200; });\nvar h2Tags = h2Matches.map(function(h) { return cleanText(h.replace(/<[^>]+>/g, '')); }).filter(function(t) { return t.length > 5 && t.length < 200; }).slice(0, 10);\nvar h3Tags = h3Matches.map(function(h) { return cleanText(h.replace(/<[^>]+>/g, '')); }).filter(function(t) { return t.length > 5 && t.length < 200; }).slice(0, 15);\nvar categoryData = {};\nif (category === 'blog' || category === 'news') {\nvar articles = [];\nvar seen = new Set();\nvar articlePatterns = [/<article[^>]*>([\\s\\S]*?)<\\/article>/gi, /<div[^>]*class=[\"'][^\"']*(?:post|entry|blog-item|news-item|article)[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/div>/gi];\nfor (var p = 0; p < articlePatterns.length && articles.length < 15; p++) {\nvar match;\narticlePatterns[p].lastIndex = 0;\nwhile ((match = articlePatterns[p].exec(cleanHtml)) !== null && articles.length < 15) {\nvar content = match[1] || match[0];\nvar tMatch = content.match(/<h[1-4][^>]*>([\\s\\S]*?)<\\/h[1-4]>/i);\nvar t = tMatch ? cleanText(tMatch[1].replace(/<[^>]+>/g, '')) : null;\nif (t && t.length > 10 && !seen.has(t.toLowerCase())) {\nseen.add(t.toLowerCase());\narticles.push({ title: t, preview: cleanText(content.replace(/<[^>]+>/g, ' ')).substring(0, 200) });\n}\n}\n}\nif (articles.length === 0) {\nh2Tags.concat(h3Tags).forEach(function(t) {\nif (!seen.has(t.toLowerCase()) && articles.length < 15) {\nseen.add(t.toLowerCase());\narticles.push({ title: t, preview: '' });\n}\n});\n}\ncategoryData.articles = articles;\ncategoryData.topics = h2Tags.slice(0, 10);\n} else if (category === 'reviews') {\ncategoryData.topics = h2Tags.concat(h3Tags).slice(0, 15);\ncategoryData.mainContent = cleanText(cleanHtml.replace(/<[^>]+>/g, ' ')).substring(0, 1000);\n} else if (category === 'pricing') {\nvar priceMatches = html.match(/\\d+[\\s\\u00a0]*(?:руб|₽|рублей|RUB)|[\\$€£]\\s*\\d+(?:[.,]\\d{2})?|\\d+(?:[.,]\\d{2})?\\s*(?:USD|EUR|GBP|руб)/gi) || [];\ncategoryData.prices = [...new Set(priceMatches)].slice(0, 20);\ncategoryData.hasPricing = priceMatches.length > 0;\ncategoryData.plans = h2Tags.concat(h3Tags).filter(function(t) { return t.match(/пакет|тариф|план|price|plan|базов|стандарт|премиум|pro|enterprise/i); }).slice(0, 10);\ncategoryData.topics = h2Tags.slice(0, 10);\n} else if (category === 'features') {\nvar features = [];\nvar featureLists = cleanHtml.match(/<ul[^>]*>[\\s\\S]{1,10000}?<\\/ul>/gi) || [];\nfor (var j = 0; j < featureLists.length && features.length < 30; j++) {\nvar items = featureLists[j].match(/<li[^>]*>([\\s\\S]*?)<\\/li>/gi) || [];\nfor (var k = 0; k < items.length && features.length < 30; k++) {\nvar text = cleanText(items[k].replace(/<[^>]+>/g, ''));\nif (text.length > 10 && text.length < 300) features.push(text);\n}\n}\ncategoryData.features = features;\ncategoryData.topics = h2Tags.concat(h3Tags).slice(0, 15);\n}\nvar mainText = cleanText(cleanHtml.replace(/<[^>]+>/g, ' ')).substring(0, 1500);\nreturn {\nurl: pageUrl,\ncategory: category,\ncompanyName: companyName,\ncompanyUrl: companyUrl,\nmetadata: { title: title, description: description, h1: h1Tags, h2: h2Tags, h3: h3Tags },\ncontent: categoryData,\nsummary: mainText,\nparsedAt: new Date().toISOString()\n};"
      },
      "id": "c5f32f7a-7be4-40d7-9859-6a42972335a7",
      "name": "Parse Page Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8304,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate by Category - отримуємо companyName/companyUrl з input items\nvar allPages = $input.all();\n\n// Отримуємо companyName та companyUrl з першого item (всі мають однакові значення)\nvar companyName = 'Unknown';\nvar companyUrl = '';\n\nif (allPages.length > 0 && allPages[0].json) {\n  companyName = allPages[0].json.companyName || 'Unknown';\n  companyUrl = allPages[0].json.companyUrl || '';\n}\n\nconsole.log('Aggregate - Company:', companyName, 'URL:', companyUrl, 'Pages count:', allPages.length);\n\nvar byCategory = { blog: [], news: [], reviews: [], pricing: [], features: [] };\n\nfor (var i = 0; i < allPages.length; i++) {\n  var pageData = allPages[i].json;\n  var category = pageData.category;\n  if (byCategory[category]) byCategory[category].push(pageData);\n}\n\nvar stats = {};\nfor (var cat in byCategory) { stats[cat] = byCategory[cat].length; }\n\nreturn { \n  company: companyName, \n  url: companyUrl, \n  companyName: companyName, \n  companyUrl: companyUrl, \n  totalPagesParsed: allPages.length, \n  statistics: stats, \n  categorizedData: byCategory, \n  aggregatedAt: new Date().toISOString() \n};"
      },
      "id": "4843c706-3226-4dc4-844d-45035ae53eee",
      "name": "Aggregate by Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8448,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $input.item.json;\nvar rawContent = response.output || response.text || '';\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  rawContent = response.choices[0].message.content;\n}\nrawContent = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nvar parsedData;\ntry {\n  parsedData = typeof rawContent === 'string' ? JSON.parse(rawContent) : rawContent;\n} catch (e) {\n  parsedData = { company: 'Unknown', url: '', youtubeActivity: '-', linkedinActivity: '-', facebookActivity: '-', aggregatorMentions: '-', socialMentionsCount: 0, newFeatures: [], problems: ['Error: ' + e.message], reviewInsights: '-', news: [], blogArticles: [], customerPains: [], customerWants: [], summary: 'Parsing failed' };\n}\nreturn { company: parsedData.company, url: parsedData.url, youtubeActivity: parsedData.youtubeActivity, linkedinActivity: parsedData.linkedinActivity, facebookActivity: parsedData.facebookActivity, aggregatorMentions: parsedData.aggregatorMentions, socialMentionsCount: parsedData.socialMentionsCount || 0, aiAnalysis: { newFeatures: parsedData.newFeatures, problems: parsedData.problems, reviewInsights: parsedData.reviewInsights, news: parsedData.news, blogArticles: parsedData.blogArticles, customerPains: parsedData.customerPains, customerWants: parsedData.customerWants, summary: parsedData.summary }, parsedAt: new Date().toISOString() };"
      },
      "id": "ddf18286-385f-4964-b723-23c89f2159ed",
      "name": "Parse AI JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8576,
        448
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "sheetName": {
          "__rl": true,
          "value": 2127507893,
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "options": {}
      },
      "id": "60c764b9-f594-469a-b3eb-345672bfba35",
      "name": "Get Existing Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        8912,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check If Company Exists - FIXED: Find NEW data by _isNewData marker\nconst allInputs = $input.all();\n\nconsole.log('=== CHECK IF COMPANY EXISTS ===');\nconsole.log('Total input items:', allInputs.length);\n\n// Шукаємо НОВІ дані по маркеру _isNewData (замість жорсткого input[0])\nlet newData = null;\nlet newDataSource = 'not found';\n\nfor (let i = 0; i < allInputs.length; i++) {\n  const item = allInputs[i];\n  if (item && item.json && item.json._isNewData === true) {\n    newData = item.json;\n    newDataSource = 'input[' + i + '] with _isNewData marker';\n    break;\n  }\n}\n\n// Якщо не знайшли по маркеру, шукаємо по наявності даних аналізу\nif (!newData) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (item && item.json) {\n      const data = item.json;\n      // НОВІ дані мають поля аналізу\n      if (data['Нові фічі'] || data['AI Summary'] || data._originalData) {\n        newData = data;\n        newDataSource = 'input[' + i + '] with analysis fields';\n        break;\n      }\n    }\n  }\n}\n\n// Якщо досі не знайшли, беремо перший non-empty item\nif (!newData && allInputs.length > 0) {\n  newData = allInputs[0].json || {};\n  newDataSource = 'input[0] (fallback)';\n}\n\nconsole.log('New data source:', newDataSource);\n\nconst company = newData['Компанія'] || newData._originalData?.company || newData.company || 'Unknown';\nconst url = newData['URL'] || newData._originalData?.url || newData.url || '';\n\nconsole.log('New company:', company);\nconsole.log('New URL:', url);\n\n// Інші inputs - це існуючі рядки з Google Sheets\nconst existingRows = [];\nfor (let i = 0; i < allInputs.length; i++) {\n  const item = allInputs[i];\n  if (item && item.json) {\n    const data = item.json;\n    // Пропускаємо нові дані, збираємо тільки існуючі рядки (з row_number або без _isNewData)\n    if (data._isNewData !== true && (data.row_number || data['Компанія'] || data['Company'])) {\n      existingRows.push(data);\n    }\n  }\n}\n\nconsole.log('Existing rows found:', existingRows.length);\n\n// Шукаємо чи існує така компанія в таблиці\nlet foundRow = null;\nlet rowIndex = -1;\nlet matchedBy = null;\n\nconst searchCompany = String(company || '').toLowerCase().trim();\nconst searchUrl = String(url || '').toLowerCase().trim();\n\nfor (let i = 0; i < existingRows.length; i++) {\n  const row = existingRows[i];\n  const rowCompany = String(row['Компанія'] || row['Company'] || row['company'] || '').toLowerCase().trim();\n  const rowUrl = String(row['URL'] || row['Url'] || row['url'] || '').toLowerCase().trim();\n\n  if (rowCompany === searchCompany || rowUrl === searchUrl) {\n    foundRow = row;\n    rowIndex = i;\n    matchedBy = rowCompany === searchCompany ? 'name' : 'url';\n    console.log('Found existing company at index:', i, 'matched by:', matchedBy);\n    break;\n  }\n}\n\n// ПОВЕРТАЄМО НОВІ ДАНІ + control поля для Update/Append\nconst result = {\n  // Всі дані з НОВОГО аналізу\n  'Дата': newData['Дата'] || new Date().toISOString().split('T')[0],\n  'Компанія': company,\n  'URL': url,\n  'Нові фічі': newData['Нові фічі'] || '-',\n  'Проблеми': newData['Проблеми'] || '-',\n  'Інсайти з коментарів': newData['Інсайти з коментарів'] || '-',\n  'Новини (з останньої перевірки)': newData['Новини (з останньої перевірки)'] || '-',\n  'Статті в блозі (з останньої перевірки)': newData['Статті в блозі (з останньої перевірки)'] || '-',\n  'YouTube активність': newData['YouTube активність'] || newData.youtubeActivity || '-',\n  'Facebook активність': newData['Facebook активність'] || newData.facebookActivity || '-',\n  'LinkedIn активність': newData['LinkedIn активність'] || newData.linkedinActivity || '-',\n  'Згадки на агрегаторах': newData['Згадки на агрегаторах'] || newData.aggregatorMentions || '-',\n  'Кількість згадок в соцмережах': newData['Кількість згадок в соцмережах'] || newData.socialMentionsCount || '0',\n  'Болі клієнтів з коментарів': newData['Болі клієнтів з коментарів'] || '-',\n  'Хотілки клієнтів з коментарів': newData['Хотілки клієнтів з коментарів'] || '-',\n  'AI Summary': newData['AI Summary'] || '-',\n\n  // Control fields for IF node\n  '_action': foundRow ? 'update' : 'append',\n  '_rowId': foundRow ? (foundRow.row_number || foundRow.id || rowIndex + 2) : null,\n  '_isUpdate': !!foundRow,\n  '_matchInfo': foundRow ? {\n    matchedBy: matchedBy,\n    existingCompany: foundRow['Компанія'],\n    existingUrl: foundRow['URL']\n  } : null\n};\n\nconsole.log('Action:', result._action);\nconsole.log('Row ID:', result._rowId);\nconsole.log('Company in result:', result['Компанія']);\nconsole.log('AI Summary length:', (result['AI Summary'] || '').length);\nreturn result;"
      },
      "id": "fb24dc20-c254-4ead-a854-ef6a2a8fcaa6",
      "name": "Check If Company Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9280,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json._action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "9ec42ef5-40a7-4872-af3c-30805c21b88a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e1fcfd2-1208-4406-a0f4-6a17039fa052",
      "name": "IF Company Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9488,
        448
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ac0NTkXXJoF3E5PFUNH7al2Bk7BrVaQwmaNfdRHAJds/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2127507893,
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ac0NTkXXJoF3E5PFUNH7al2Bk7BrVaQwmaNfdRHAJds/edit#gid=2127507893"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json['Дата'] || new Date().toISOString().split('T')[0] }}",
            "Компанія": "={{ $json['Компанія'] || 'Unknown' }}",
            "URL": "={{ $json['URL'] || '-' }}",
            "Нові фічі": "={{ $json['Нові фічі'] || '-' }}",
            "Проблеми": "={{ $json['Проблеми'] || '-' }}",
            "Інсайти з коментарів": "={{ $json['Інсайти з коментарів'] || '-' }}",
            "Новини (з останньої перевірки)": "={{ $json['Новини (з останньої перевірки)'] || '-' }}",
            "Статті в блозі (з останньої перевірки)": "={{ $json['Статті в блозі (з останньої перевірки)'] || '-' }}",
            "YouTube активність": "={{ $json['YouTube активність'] || '-' }}",
            "Facebook активність": "={{ $json['Facebook активність'] || '-' }}",
            "LinkedIn активність": "={{ $json['LinkedIn активність'] || '-' }}",
            "Згадки на агрегаторах": "={{ $json['Згадки на агрегаторах'] || '-' }}",
            "Кількість згадок в соцмережах": "={{ $json['Кількість згадок в соцмережах'] || '0' }}",
            "Болі клієнтів з коментарів": "={{ $json['Болі клієнтів з коментарів'] || '-' }}",
            "Хотілки клієнтів з коментарів": "={{ $json['Хотілки клієнтів з коментарів'] || '-' }}",
            "AI Summary": "={{ $json['AI Summary'] || '-' }}",
            "isNewEntry": "={{ $json.isNewEntry || 'false' }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Компанія"
          ],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Компанія",
              "displayName": "Компанія",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Нові фічі",
              "displayName": "Нові фічі",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Проблеми",
              "displayName": "Проблеми",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Інсайти з коментарів",
              "displayName": "Інсайти з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Новини (з останньої перевірки)",
              "displayName": "Новини (з останньої перевірки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Статті в блозі (з останньої перевірки)",
              "displayName": "Статті в блозі (з останньої перевірки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube активність",
              "displayName": "YouTube активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook активність",
              "displayName": "Facebook активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn активність",
              "displayName": "LinkedIn активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Згадки на агрегаторах",
              "displayName": "Згадки на агрегаторах",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Кількість згадок в соцмережах",
              "displayName": "Кількість згадок в соцмережах",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Болі клієнтів з коментарів",
              "displayName": "Болі клієнтів з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хотілки клієнтів з коментарів",
              "displayName": "Хотілки клієнтів з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNewEntry",
              "displayName": "isNewEntry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7dc88f6b-c1da-448f-8043-988f5538c2a7",
      "name": "Update Existing Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        9696,
        352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "sheetName": {
          "__rl": true,
          "value": 2127507893,
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json['Дата'] || new Date().toISOString().split('T')[0] }}",
            "Компанія": "={{ $json['Компанія'] || 'Unknown' }}",
            "URL": "={{ $json['URL'] || '-' }}",
            "Нові фічі": "={{ $json['Нові фічі'] || '-' }}",
            "Проблеми": "={{ $json['Проблеми'] || '-' }}",
            "Інсайти з коментарів": "={{ $json['Інсайти з коментарів'] || '-' }}",
            "Новини (з останньої перевірки)": "={{ $json['Новини (з останньої перевірки)'] || '-' }}",
            "Статті в блозі (з останньої перевірки)": "={{ $json['Статті в блозі (з останньої перевірки)'] || '-' }}",
            "YouTube активність": "={{ $json['YouTube активність'] || '-' }}",
            "Facebook активність": "={{ $json['Facebook активність'] || '-' }}",
            "LinkedIn активність": "={{ $json['LinkedIn активність'] || '-' }}",
            "Згадки на агрегаторах": "={{ $json['Згадки на агрегаторах'] || '-' }}",
            "Кількість згадок в соцмережах": "={{ $json['Кількість згадок в соцмережах'] || '0' }}",
            "Болі клієнтів з коментарів": "={{ $json['Болі клієнтів з коментарів'] || '-' }}",
            "Хотілки клієнтів з коментарів": "={{ $json['Хотілки клієнтів з коментарів'] || '-' }}",
            "AI Summary": "={{ $json['AI Summary'] || '-' }}",
            "isNewEntry": "={{ $json.isNewEntry || 'false' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Компанія",
              "displayName": "Компанія",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Нові фічі",
              "displayName": "Нові фічі",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Проблеми",
              "displayName": "Проблеми",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Інсайти з коментарів",
              "displayName": "Інсайти з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Новини (з останньої перевірки)",
              "displayName": "Новини (з останньої перевірки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Статті в блозі (з останньої перевірки)",
              "displayName": "Статті в блозі (з останньої перевірки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube активність",
              "displayName": "YouTube активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook активність",
              "displayName": "Facebook активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn активність",
              "displayName": "LinkedIn активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Згадки на агрегаторах",
              "displayName": "Згадки на агрегаторах",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Кількість згадок в соцмережах",
              "displayName": "Кількість згадок в соцмережах",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Болі клієнтів з коментарів",
              "displayName": "Болі клієнтів з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хотілки клієнтів з коментарів",
              "displayName": "Хотілки клієнтів з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNewEntry",
              "displayName": "isNewEntry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e17d7383-39c2-445d-90c6-c97d56bc6fa8",
      "name": "Append New Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        9696,
        544
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format for Sheets - Extract data from multiple sources\nconst data = $input.item.json;\nconst ai = data.aiAnalysis || {};\n\nconsole.log('Format for Sheets3 - Input keys:', Object.keys(data));\nconsole.log('aiAnalysis keys:', ai ? Object.keys(ai) : 'none');\n\nconst arrayToString = (arr) => {\n  if (!Array.isArray(arr)) return \"-\";\n  if (arr.length === 0) return \"-\";\n  return arr.join(\", \");\n};\n\nconst blogToString = (articles) => {\n  if (!Array.isArray(articles)) return \"-\";\n  if (articles.length === 0) return \"-\";\n  return articles.map(a => {\n    const title = a.title || a.name || 'Article';\n    const date = a.date || a.publishedAt || '?';\n    const summary = (a.summary || a.description || a.preview || '').substring(0, 80);\n    return title + \" (\" + date + \"): \" + summary + \"...\";\n  }).join(\" | \");\n};\n\n// ПОВНІШЕ витягування даних з aiAnalysis\nconst newFeatures = ai.newFeatures || ai.features || [];\nconst problems = ai.problems || ai.issues || [];\nconst pains = ai.customerPains || ai.pains || [];\nconst wants = ai.customerWants || ai.wants || [];\nconst news = ai.news || ai.newsItems || [];\nconst blogArticles = ai.blogArticles || ai.blogs || [];\nconst reviewInsights = ai.reviewInsights || ai.reviews || ai.customerInsights || '-';\n\n// Якщо AI не повернув дані, спробуємо взяти з прямих полів\nconst featuresText = newFeatures.length > 0 ? arrayToString(newFeatures) :\n  (data.features || data.newFeatures || '-');\nconst problemsText = problems.length > 0 ? arrayToString(problems) :\n  (data.problems || data.issues || '-');\nconst painsText = pains.length > 0 ? arrayToString(pains) :\n  (data.customerPains || data.pains || '-');\nconst wantsText = wants.length > 0 ? arrayToString(wants) :\n  (data.customerWants || data.wants || '-');\nconst newsText = news.length > 0 ? arrayToString(news) :\n  (data.news || data.newsItems || '-');\nconst blogText = blogArticles.length > 0 ? blogToString(blogArticles) :\n  (data.blogArticles || data.blogs || '-');\nconst insightsText = reviewInsights !== '-' ? reviewInsights :\n  (data.reviewInsights || data.reviews || data.customerInsights || '-');\n\n// YouTube/Facebook/LinkedIn активність\nconst youtubeActivity = data.youtubeActivity || data.youtube || 'Немає даних';\nconst facebookActivity = data.facebookActivity || data.facebook || '-';\nconst linkedinActivity = data.linkedinActivity || data.linkedin || '-';\n\n// G2 / Агрегатори\nconst aggregatorMentions = data.aggregatorMentions || data.g2Data || '-';\n\nconst result = {\n  \"Дата\": new Date().toISOString().split(\"T\")[0],\n  \"Компанія\": data.company || \"Unknown\",\n  \"URL\": data.url || \"\",\n  \"Нові фічі\": featuresText,\n  \"Проблеми\": problemsText,\n  \"Інсайти з коментарів\": insightsText,\n  \"Новини (з останньої перевірки)\": newsText,\n  \"Статті в блозі (з останньої перевірки)\": blogText,\n  \"YouTube активність\": youtubeActivity,\n  \"Facebook активність\": facebookActivity,\n  \"LinkedIn активність\": linkedinActivity,\n  \"Згадки на агрегаторах\": aggregatorMentions,\n  \"Кількість згадок в соцмережах\": String(data.socialMentionsCount || data.socialLinksCount || 0),\n  \"Болі клієнтів з коментарів\": painsText,\n  \"Хотілки клієнтів з коментарів\": wantsText,\n  \"AI Summary\": ai.summary || data.summary || '-',\n  _originalData: { company: data.company, url: data.url, parsedAt: data.parsedAt },\n  _isNewData: true\n};\n\nconsole.log(\"Format for Sheets - Company:\", result[\"Компанія\"]);\nconsole.log(\"Features:\", result[\"Нові фічі\"].substring(0, 50));\nconsole.log(\"Problems:\", result[\"Проблеми\"].substring(0, 50));\nreturn result;"
      },
      "id": "d95131ea-08d8-40cb-8496-67a688d81534",
      "name": "Format for Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8736,
        448
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        9120,
        448
      ],
      "id": "0eba8cff-2788-475e-955c-3f461e21268a",
      "name": "Merge7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8144,
        192
      ],
      "id": "80dca115-368f-48c5-b62a-5c2374835f95",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Fetch G2 Page": {
      "main": [
        [
          {
            "node": "Parse G2 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse G2 Data": {
      "main": [
        [
          {
            "node": "Merge Aggregator Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Aggregator Data": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Companies1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website1": {
      "main": [
        [
          {
            "node": "Auto-detect YouTube Channel1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto-detect Social Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-detect YouTube Channel1": {
      "main": [
        [
          {
            "node": "YouTube API Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube API Search1": {
      "main": [
        [
          {
            "node": "Parse YouTube Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse YouTube Data1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Auto-detect Social Links1": {
      "main": [
        [
          {
            "node": "Fetch G2 Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Social Activity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Social Activity1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Companies1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'website checker_backup(единственный раочий) (вебхук не тот)'": {
      "main": [
        [
          {
            "node": "Extract & Filter URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fetch Website1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'website checker_backup(единственный раочий) (вебхук не тот)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Filter URLs": {
      "main": [
        [
          {
            "node": "Remove Empty Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Empty Items": {
      "main": [
        [
          {
            "node": "Set Fields Before Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields Before Fetch": {
      "main": [
        [
          {
            "node": "Fetch Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Page Content": {
      "main": [
        [
          {
            "node": "Aggregate by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate by Category": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON Response": {
      "main": [
        [
          {
            "node": "Format for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Data": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Company Exists": {
      "main": [
        [
          {
            "node": "IF Company Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Company Exists": {
      "main": [
        [
          {
            "node": "Update Existing Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append New Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Row": {
      "main": [
        [
          {
            "node": "Loop Companies1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Row": {
      "main": [
        [
          {
            "node": "Loop Companies1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets": {
      "main": [
        [
          {
            "node": "Get Existing Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Check If Company Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Parse Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "pinData": {}
}
