monitoring-of-competitors/workflow-update.json
{
  "name": "Monitoring of Competitors v2",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.g2.com/search?query={{ $('Loop Companies').item.json.companyName }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "74a4b46f-0b1c-4425-b4ca-543708f4f390",
      "name": "Fetch G2 Page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "var html = $input.item.json.body || '';\nvar loopData = $('Loop Companies').item.json;\nvar editFieldsData = $('Edit Fields1').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\n\nvar ratingMatch = html.match(/(\\d+\\.\\d+)\\s*out of 5 stars/i) || html.match(/\"rating[\"\\s:]*(\\d+\\.\\d+)/i);\nvar reviewsMatch = html.match(/(\\d+[\\d,]*)\\s+reviews?/i);\n\nif (!ratingMatch) {\n  return { company: company, g2Data: 'Не знайдено на G2', g2Found: false, g2ReviewsCount: 0 };\n}\n\nvar rating = ratingMatch[1];\nvar reviewsCount = reviewsMatch ? reviewsMatch[1] : '0';\n\nreturn {\n  company: company,\n  g2Data: 'G2: ' + rating + ' (' + reviewsCount + ' відгуків)',\n  g2Found: true,\n  g2Rating: parseFloat(rating),\n  g2ReviewsCount: parseInt(reviewsCount.replace(/,/g, '') || '0')\n};"
      },
      "id": "1e8dc6da-5be4-4c1d-a4ce-b4e990695ecc",
      "name": "Parse G2 Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "var g2 = $input.item.json;\nvar loopData = $('Loop Companies').item.json;\nvar editFieldsData = $('Edit Fields1').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\nvar aggregatorMentions = g2.g2Data || 'Не знайдено';\n\nreturn {\n  company: company,\n  aggregatorMentions: aggregatorMentions,\n  g2Rating: g2.g2Rating || null,\n  g2ReviewsCount: g2.g2ReviewsCount || 0\n};"
      },
      "id": "da87d5aa-0898-4563-b0df-ce6b6caad45f",
      "name": "Merge Aggregator Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        -352
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "84607ffc-7798-46ac-830b-67eb13f11d69",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1424,
        -992
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d211f998-2f76-4a19-bb23-1b647513eed0",
      "name": "Loop Companies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        -992
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.companyUrl }}",
        "options": {
          "redirect": {},
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true,
              "responseFormat": "autodetect"
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            }
          ]
        }
      },
      "id": "24757823-9963-4bc5-9769-878921908dbf",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        -528
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.companyUrl }}/blog",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "id": "77aa0e31-0161-40b9-8a8b-0aa94345e1cd",
      "name": "Fetch Blog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        -656
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.companyUrl }}/reviews",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        }
      },
      "id": "b7466bc0-0dc0-42c3-9163-ad8832dace04",
      "name": "Fetch Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        -784
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse All Data - V3 with better blog detection\nvar loopData = $('Loop Companies').item.json;\nvar editFieldsData = $('Edit Fields1').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\nvar url = editFieldsData.companyUrl || loopData.companyUrl || '';\n\nvar mergeItems = $input.all();\nvar websiteHtml = mergeItems[0] && mergeItems[0].json ? (mergeItems[0].json.body || mergeItems[0].json.data || '') : '';\nvar blogHtml = mergeItems[1] && mergeItems[1].json ? (mergeItems[1].json.body || mergeItems[1].json.data || '') : '';\nvar reviewsHtml = mergeItems[2] && mergeItems[2].json ? (mergeItems[2].json.body || mergeItems[2].json.data || '') : '';\n\nfunction cleanText(text) {\n  if (!text) return null;\n  return text.replace(/&nbsp;/gi, ' ').replace(/&#\\d+;/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction extractTitle(html) {\n  if (!html || html.length < 100) return null;\n  var patterns = [\n    /<title[^>]*>([\\s\\S]*?)<\\/title>/i,\n    /<meta[^>]*property=[\"']og:title[\"'][^>]*content=[\"']([^\"']+)[\"']/i\n  ];\n  for (var i = 0; i < patterns.length; i++) {\n    var match = html.match(patterns[i]);\n    if (match && match[1]) {\n      var title = cleanText(match[1]);\n      if (title && title.length > 2) return title.substring(0, 200);\n    }\n  }\n  return null;\n}\n\nfunction extractDescription(html) {\n  if (!html || html.length < 100) return null;\n  var patterns = [\n    /<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']+)[\"']/i,\n    /<meta[^>]*property=[\"']og:description[\"'][^>]*content=[\"']([^\"']+)[\"']/i\n  ];\n  for (var i = 0; i < patterns.length; i++) {\n    var match = html.match(patterns[i]);\n    if (match && match[1]) {\n      var desc = cleanText(match[1]);\n      if (desc && desc.length > 10) return desc.substring(0, 500);\n    }\n  }\n  return null;\n}\n\nfunction extractH1Tags(html) {\n  if (!html || html.length < 100) return [];\n  var matches = [];\n  var h1Regex = /<h1[^>]*>([\\s\\S]*?)<\\/h1>/gi;\n  var match;\n  while ((match = h1Regex.exec(html)) !== null && matches.length < 5) {\n    var text = cleanText(match[1].replace(/<[^>]+>/g, ''));\n    if (text && text.length > 2 && text.length < 200) matches.push(text);\n  }\n  if (matches.length === 0) {\n    var h2Regex = /<h2[^>]*>([\\s\\S]*?)<\\/h2>/gi;\n    while ((match = h2Regex.exec(html)) !== null && matches.length < 3) {\n      var text = cleanText(match[1].replace(/<[^>]+>/g, ''));\n      if (text && text.length > 5 && text.length < 150) matches.push(text);\n    }\n  }\n  return matches;\n}\n\nfunction extractKeywords(html) {\n  if (!html) return [];\n  var match = html.match(/<meta[^>]*name=[\"']keywords[\"'][^>]*content=[\"']([^\"']+)[\"']/i);\n  return match ? match[1].split(',').map(k => k.trim()).filter(k => k).slice(0, 10) : [];\n}\n\n// ПОКРАЩЕНО: Знайти посилання на блог/журнал\nfunction findBlogLinks(html) {\n  var blogPatterns = [\n    /href=[\"']([^\"']*(?:\\/blog|\\/journal|\\/news|\\/articles|\\/press|\\/media)[^\"']*)[\"']/gi,\n    /href=[\"']([^\"']*(?:blog|journal|news|articles|press|novosti|statyi)[^\"']*)[\"']/gi\n  ];\n  var links = [];\n  for (var p = 0; p < blogPatterns.length; p++) {\n    var match;\n    blogPatterns[p].lastIndex = 0;\n    while ((match = blogPatterns[p].exec(html)) !== null && links.length < 5) {\n      if (match[1] && match[1].length < 100) links.push(match[1]);\n    }\n  }\n  return [...new Set(links)];\n}\n\nvar website = {\n  title: extractTitle(websiteHtml),\n  description: extractDescription(websiteHtml),\n  h1Tags: extractH1Tags(websiteHtml),\n  keywords: extractKeywords(websiteHtml),\n  blogLinks: findBlogLinks(websiteHtml),\n  hasNews: /news|новини|новости|press|пресс/i.test(websiteHtml),\n  hasBlog: /blog|блог|journal|журнал|articles|статьи/i.test(websiteHtml),\n  hasPricing: /pricing|price|ціни|цены|тарифи|тарифы|стоимость/i.test(websiteHtml),\n  hasFeatures: /features|можливості|возможности|функції|функции|solutions|решения/i.test(websiteHtml),\n  htmlLength: websiteHtml.length\n};\n\n// ПОКРАЩЕНО: Парсинг статей - більше патернів\nfunction extractArticles(html) {\n  if (!html || html.length < 500) return [];\n  var articles = [];\n  var seen = new Set();\n\n  // Патерни для різних CMS та структур\n  var patterns = [\n    // Standard article\n    /<article[^>]*>([\\s\\S]*?)<\\/article>/gi,\n    // Div з класами post/entry/news/article\n    /<div[^>]*class=\"[^\"]*(?:post|entry|article|news-item|blog-item|journal-item)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>(?=\\s*<div[^>]*class=\"[^\"]*(?:post|entry)|\\s*<\\/|\\s*$)/gi,\n    // Card layouts\n    /<div[^>]*class=\"[^\"]*card[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>(?=\\s*<div[^>]*class=\"[^\"]*card|\\s*<\\/)/gi,\n    // List items\n    /<li[^>]*class=\"[^\"]*(?:post|news|article|item)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/li>/gi,\n    // Links with titles (fallback)\n    /<a[^>]*href=\"[^\"]*(?:blog|journal|news|article)[^\"]*\"[^>]*>([^<]{15,100})<\\/a>/gi\n  ];\n\n  for (var p = 0; p < patterns.length && articles.length < 5; p++) {\n    var match;\n    patterns[p].lastIndex = 0;\n    while ((match = patterns[p].exec(html)) !== null && articles.length < 5) {\n      var content = match[1] || match[0];\n\n      // Знайти заголовок (різні варіанти)\n      var titleMatch = content.match(/<h[1-4][^>]*>([\\s\\S]*?)<\\/h[1-4]>/i) ||\n                       content.match(/<a[^>]*class=\"[^\"]*title[^\"]*\"[^>]*>([^<]+)<\\/a>/i) ||\n                       content.match(/<span[^>]*class=\"[^\"]*title[^\"]*\"[^>]*>([^<]+)<\\/span>/i) ||\n                       content.match(/<a[^>]*href=\"[^\"]*\"[^>]*>([^<]{15,100})<\\/a>/i);\n\n      var dateMatch = content.match(/<time[^>]*datetime=[\"']([^\"']+)[\"']/i) ||\n                      content.match(/<time[^>]*>([^<]+)<\\/time>/i) ||\n                      content.match(/<span[^>]*class=\"[^\"]*date[^\"]*\"[^>]*>([^<]+)<\\/span>/i) ||\n                      content.match(/(\\d{1,2}[\\.\\/\\-]\\d{1,2}[\\.\\/\\-]\\d{2,4})/);\n\n      var title = titleMatch ? cleanText(titleMatch[1].replace(/<[^>]+>/g, '')) : null;\n\n      if (title && title.length > 10 && title.length < 200 && !seen.has(title)) {\n        seen.add(title);\n        articles.push({\n          title: title,\n          date: dateMatch ? cleanText(dateMatch[1]) : null,\n          preview: cleanText(content.replace(/<[^>]+>/g, ' ')).substring(0, 200)\n        });\n      }\n    }\n  }\n\n  // Якщо нічого не знайдено - спробувати витягнути всі h3/h4 як заголовки статей\n  if (articles.length === 0) {\n    var hRegex = /<h[3-4][^>]*>\\s*<a[^>]*>([^<]+)<\\/a>\\s*<\\/h[3-4]>/gi;\n    var hMatch;\n    while ((hMatch = hRegex.exec(html)) !== null && articles.length < 5) {\n      var title = cleanText(hMatch[1]);\n      if (title && title.length > 10 && !seen.has(title)) {\n        seen.add(title);\n        articles.push({ title: title, date: null, preview: '' });\n      }\n    }\n  }\n\n  return articles;\n}\n\n// Спробувати парсити блог, якщо порожній - головну сторінку\nvar blogArticles = extractArticles(blogHtml);\nif (blogArticles.length === 0) {\n  blogArticles = extractArticles(websiteHtml);\n}\n\nvar blog = {\n  articlesFound: blogArticles.length,\n  recentArticles: blogArticles\n};\n\n// Парсинг відгуків\nfunction extractReviews(html) {\n  if (!html || html.length < 500) return [];\n  var reviews = [];\n  var patterns = [\n    /<div[^>]*class=\"[^\"]*(?:review|testimonial|отзыв|feedback|quote)[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/gi,\n    /<blockquote[^>]*>([\\s\\S]*?)<\\/blockquote>/gi\n  ];\n  for (var rp = 0; rp < patterns.length && reviews.length < 3; rp++) {\n    var rm;\n    patterns[rp].lastIndex = 0;\n    while ((rm = patterns[rp].exec(html)) !== null && reviews.length < 3) {\n      var text = cleanText((rm[1] || rm[0]).replace(/<[^>]+>/g, ' '));\n      if (text && text.length > 20 && text.length < 500) reviews.push(text.substring(0, 200));\n    }\n  }\n  return reviews;\n}\n\nvar reviewSamples = extractReviews(reviewsHtml);\nif (reviewSamples.length === 0) reviewSamples = extractReviews(websiteHtml);\n\nvar reviews = {\n  found: reviewSamples.length > 0,\n  count: reviewSamples.length,\n  samples: reviewSamples\n};\n\nreturn {\n  company: company,\n  url: url,\n  currentData: {\n    website: website,\n    blog: blog,\n    reviews: reviews,\n    scrapedAt: new Date().toISOString()\n  },\n  previousData: null,\n  _debug: {\n    websiteHtmlLength: websiteHtml.length,\n    blogHtmlLength: blogHtml.length,\n    reviewsHtmlLength: reviewsHtml.length,\n    blogLinksFound: website.blogLinks\n  }\n};"
      },
      "id": "634eb3a5-b8aa-4c90-8d67-047df8d332ec",
      "name": "Parse All Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -848
      ]
    },
    {
      "parameters": {
        "jsCode": "var websiteHtml = $('Fetch Website').item.json.body || '';\nvar loopData = $('Loop Companies').item.json;\nvar companyName = loopData.companyName || loopData.name || loopData.company || 'Unknown';\n\nvar youtubePatterns = [\n  /youtube\\.com\\/channel\\/([a-zA-Z0-9_-]+)/i,\n  /youtube\\.com\\/c\\/([a-zA-Z0-9_-]+)/i,\n  /youtube\\.com\\/user\\/([a-zA-Z0-9_-]+)/i,\n  /youtube\\.com\\/@([a-zA-Z0-9_-]+)/i\n];\n\nvar channelId = null;\nvar channelUrl = null;\n\nfor (var i = 0; i < youtubePatterns.length; i++) {\n  var match = websiteHtml.match(youtubePatterns[i]);\n  if (match) {\n    channelUrl = match[0];\n    channelId = match[1];\n    break;\n  }\n}\n\nreturn { company: companyName, youtubeChannelId: channelId, youtubeUrl: channelUrl, autoDetected: !!channelId };"
      },
      "id": "4b2676d7-1712-4e71-ba93-dfa2e53d1d08",
      "name": "Auto-detect YouTube Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -688
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "channelId",
              "value": "={{ $json.youtubeChannelId }}"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "publishedAfter",
              "value": "={{ $now.minus(7, 'days').toISO() }}"
            },
            {
              "name": "key",
              "value": "={{ $credentials.youtubeApiKey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "414c63d7-a6e7-453b-a1ff-73bce2ffe814",
      "name": "YouTube API Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        -688
      ],
      "credentials": {
        "googleApi": {
          "id": "BusW9DlkA4x5GyCq",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var response = $input.item.json;\nvar loopData = $('Loop Companies').item.json;\nvar editFieldsData = $('Edit Fields1').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\n\nif (!response.items || response.items.length === 0) {\n  return { company: company, youtubeActivity: 'Немає нових відео за тиждень', youtubeVideoCount: 0 };\n}\n\nvar videos = response.items;\nvar videoCount = videos.length;\nvar latestVideo = videos[0];\n\nreturn {\n  company: company,\n  youtubeActivity: videoCount + ' нових відео за тиждень. Останнє: \"' + latestVideo.snippet.title + '\" (' + latestVideo.snippet.publishedAt.split('T')[0] + ')',\n  youtubeVideoCount: videoCount,\n  youtubeVideos: videos.slice(0, 3).map(function(v) { return { title: v.snippet.title, publishedAt: v.snippet.publishedAt, url: 'https://www.youtube.com/watch?v=' + v.id.videoId }; })\n};"
      },
      "id": "c0803a96-e28e-46fc-a7b3-f3b8a97b5016",
      "name": "Parse YouTube Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -688
      ]
    },
    {
      "parameters": {
        "jsCode": "var websiteHtml = $('Fetch Website').item.json.body || $('Fetch Website').item.json.data || '';\nvar loopData = $('Loop Companies').item.json;\nvar company = loopData.companyName || loopData.name || loopData.company || 'Unknown';\n\nfunction extractUrl(html, pattern) {\n  var match = html.match(pattern);\n  return match ? match[0] : null;\n}\n\nreturn {\n  company: company,\n  linkedin: extractUrl(websiteHtml, /linkedin\\.com\\/company\\/[a-zA-Z0-9_-]+/i),\n  facebook: extractUrl(websiteHtml, /facebook\\.com\\/[a-zA-Z0-9._-]+/i),\n  twitter: extractUrl(websiteHtml, /(?:twitter|x)\\.com\\/[a-zA-Z0-9_]+/i),\n  instagram: extractUrl(websiteHtml, /instagram\\.com\\/[a-zA-Z0-9._]+/i),\n  youtube: extractUrl(websiteHtml, /youtube\\.com\\/(?:channel|c|user|@)[\\/]?[a-zA-Z0-9_-]+/i)\n};"
      },
      "id": "3841e1ad-3112-460c-b1e5-5e96890e96e6",
      "name": "Auto-detect Social Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -544
      ]
    },
    {
      "parameters": {
        "jsCode": "var data = $input.item.json;\nvar loopData = $('Loop Companies').item.json;\nvar editFieldsData = $('Edit Fields1').item.json;\nvar company = editFieldsData.companyName || loopData.companyName || 'Unknown';\n\nvar socialCount = 0;\nvar activities = [];\nif (data.linkedin) { activities.push('LinkedIn: ' + data.linkedin); socialCount++; }\nif (data.facebook) { activities.push('Facebook: ' + data.facebook); socialCount++; }\nif (data.twitter) { activities.push('Twitter: ' + data.twitter); socialCount++; }\nif (data.instagram) { activities.push('Instagram: ' + data.instagram); socialCount++; }\n\nreturn {\n  company: company,\n  linkedinActivity: data.linkedin ? 'Профіль: ' + data.linkedin : '-',\n  facebookActivity: data.facebook ? 'Сторінка: ' + data.facebook : '-',\n  allSocialLinks: activities.join('; ') || '-',\n  socialLinksCount: socialCount\n};"
      },
      "id": "3a7bd97f-420f-4b01-bdf8-ad646c55d21c",
      "name": "Format Social Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -544
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Компанії",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DeWOqjCKG1IIdjn29aEC8HBEAkqTrGYb3FjOmJlERGw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Аркуш1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DeWOqjCKG1IIdjn29aEC8HBEAkqTrGYb3FjOmJlERGw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        -992
      ],
      "id": "5956980f-e7a9-4783-a643-cbafb186cac0",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2688,
        -864
      ],
      "id": "9ba7d54e-5876-4f83-8c7c-c08c5ee263b2",
      "name": "Merge3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Аналізуй компанію та поверни JSON.\n\nДАНІ:\nКомпанія: {{ $input.all()[0].json.company }}\nURL: {{ $input.all()[0].json.url || '-' }}\nTitle: {{ $input.all()[0].json.currentData.website.title || '-' }}\nDescription: {{ $input.all()[0].json.currentData.website.description || '-' }}\nYouTube: {{ $input.all()[1].json.youtubeActivity || '-' }}\nLinkedIn: {{ $input.all()[2].json.linkedinActivity || '-' }}\nFacebook: {{ $input.all()[2].json.facebookActivity || '-' }}\nG2: {{ $input.all()[3].json.aggregatorMentions || '-' }}\nБлог статей: {{ $input.all()[0].json.currentData.blog.articlesFound || 0 }}\nВідгуків: {{ $input.all()[0].json.currentData.reviews.count || 0 }}\n\nПОВЕРНИ JSON (без ```):\n{\n  \"company\": \"{{ $input.all()[0].json.company }}\",\n  \"url\": \"{{ $input.all()[0].json.url || '-' }}\",\n  \"youtubeActivity\": \"{{ $input.all()[1].json.youtubeActivity || '-' }}\",\n  \"linkedinActivity\": \"{{ $input.all()[2].json.linkedinActivity || '-' }}\",\n  \"facebookActivity\": \"{{ $input.all()[2].json.facebookActivity || '-' }}\",\n  \"aggregatorMentions\": \"{{ $input.all()[3].json.aggregatorMentions || '-' }}\",\n  \"socialMentionsCount\": {{ ($input.all()[2].json.socialLinksCount || 0) + ($input.all()[3].json.g2ReviewsCount || 0) }},\n  \"newFeatures\": [\"виділи 2-3 ключові фічі з title/description\"],\n  \"problems\": [\"якщо є скарги - вкажи, інакше '-'\"],\n  \"reviewInsights\": \"короткий висновок про відгуки або '-'\",\n  \"news\": [\"останні новини або '-'\"],\n  \"blogArticles\": [{\"title\": \"назва\", \"date\": \"дата\", \"summary\": \"опис\"}],\n  \"customerPains\": [\"болі клієнтів або '-'\"],\n  \"customerWants\": [\"потреби клієнтів або '-'\"],\n  \"summary\": \"1-2 речення про компанію: позиціонування, сильні сторони\"\n}",
        "options": {
          "systemMessage": "Ти аналітик. Повертай ТІЛЬКИ valid JSON без markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3408,
        -752
      ],
      "id": "2084628b-26c3-4824-b066-9c99a25d28fd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3408,
        -544
      ],
      "id": "2b197fae-d0a4-4713-b640-e82e660d0f56",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "qgsIGQOIOptnu1JA",
          "name": "Oki-toki API GPT"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3232,
        -784
      ],
      "id": "945bd23f-3af7-44bd-abc6-567367b57135",
      "name": "Merge4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EMj5nBku5u0UQQbC",
          "mode": "list",
          "cachedResultUrl": "/workflow/EMj5nBku5u0UQQbC",
          "cachedResultName": "website checker_backup(единственный раочий) (вебхук не тот)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2208,
        -992
      ],
      "id": "7112e263-f7fa-4110-84ec-5edca8c76dd2",
      "name": "Call 'website checker_backup(единственный раочий) (вебхук не тот)'1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "760d4b4d-ee9a-4787-a693-2c116b729075",
              "name": "companyUrl",
              "value": "={{ $json.company || $json.url || $json.URL || '' }}",
              "type": "string"
            },
            {
              "id": "company-name-001",
              "name": "companyName",
              "value": "={{ (() => { const url = $json.company || $json.url || $json.URL || ''; const match = url.match(/https?:\\/\\/(?:www\\.)?([^\\/\\.]+)/i); return match ? match[1].charAt(0).toUpperCase() + match[1].slice(1) : 'Unknown'; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        -992
      ],
      "id": "d03a155a-21ac-4989-a4d6-822b3e80fdce",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Extract & Filter URLs - отримуємо companyName/companyUrl з Edit Fields\nvar scanResult = $input.item.json;\nvar allResults = scanResult.all_results || [];\n\n// ВАЖЛИВО: Отримуємо companyName/companyUrl з Edit Fields напряму\nvar editFieldsData = $('Edit Fields1').first().json;\nvar companyName = editFieldsData.companyName || 'Unknown';\nvar companyUrl = editFieldsData.companyUrl || '';\n\nconsole.log('Extract URLs - Company:', companyName, 'URL:', companyUrl, 'Total URLs:', allResults.length);\n\nvar categories = {\n  blog: /\\/(blog|blogs|article|articles|post|posts|insights|news-blog)/i,\n  news: /\\/(news|press|announcements|newsroom)/i,\n  reviews: /\\/(review|reviews|testimonial|testimonials|customer-stories|success-stories|case-studies)/i,\n  pricing: /\\/(pricing|price|prices|plans|tarif|cost)/i,\n  features: /\\/(features|feature|capabilities|product-features)/i\n};\n\nvar categorizedUrls = [];\n\nfor (var i = 0; i < allResults.length; i++) {\n  var result = allResults[i];\n  var url = result.url || '';\n  if (result.has_errors) continue;\n  \n  for (var cat in categories) {\n    if (categories[cat].test(url)) {\n      categorizedUrls.push({ \n        url: url, \n        category: cat, \n        status_code: result.status_code, \n        companyName: companyName, \n        companyUrl: companyUrl \n      });\n      break;\n    }\n  }\n}\n\nconsole.log('Filtered URLs by category:', categorizedUrls.length);\n\nif (categorizedUrls.length === 0) {\n  return [{ json: { url: '', category: 'none', status_code: 0, companyName: companyName, companyUrl: companyUrl } }];\n}\n\nreturn categorizedUrls.map(function(item) { return { json: item }; });"
      },
      "id": "b892935f-11c3-4170-b986-8f941f9cfd42",
      "name": "Extract & Filter URLs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        -992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d98d3f59-e35c-4f2e-bf1e-316dc476770d",
      "name": "Remove Empty Items1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2560,
        -992
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-url-001",
              "name": "pageUrl",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "set-category-001",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "set-company-001",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "set-companyurl-001",
              "name": "companyUrl",
              "value": "={{ $json.companyUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2752,
        -992
      ],
      "id": "36502c52-0165-47dd-b0ac-7550ed6abefe",
      "name": "Set Fields Before Fetch1"
    },
    {
      "parameters": {
        "url": "={{ $json.pageUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "4d808539-7b87-4674-a998-ef16a3caf6f9",
      "name": "Fetch Page Content1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        -992
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Page Content - отримуємо companyName/companyUrl з Set Fields Before Fetch\nvar inputItem = $input.item.json;\nvar html = inputItem.body || '';\n\n// Отримуємо дані з попередньої ноди Set Fields Before Fetch\nvar setFieldsData = $('Set Fields Before Fetch1').item.json;\nvar companyName = setFieldsData.companyName || 'Unknown';\nvar companyUrl = setFieldsData.companyUrl || '';\nvar pageUrl = setFieldsData.pageUrl || '';\nvar category = setFieldsData.category || 'unknown';\n\nconsole.log('Parse Page - Company:', companyName, 'URL:', companyUrl, 'Page:', pageUrl, 'Category:', category);\n\nfunction extractText(html, pattern) {\n  var match = html.match(pattern);\n  return match ? match[1].trim() : null;\n}\n\nvar title = extractText(html, /<title[^>]*>([^<]+)<\\/title>/i);\nvar description = extractText(html, /<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']+)[\"']/i);\nvar h1Matches = html.match(/<h1[^>]*>([^<]+)<\\/h1>/gi) || [];\nvar h1Tags = h1Matches.map(function(h) { return h.replace(/<[^>]+>/g, '').trim(); }).slice(0, 5);\n\nvar categoryData = {};\n\nif (category === 'blog' || category === 'news') {\n  var articleMatches = html.match(/<article[^>]*>[\\s\\S]{1,10000}?<\\/article>/gi) || [];\n  categoryData.articles = articleMatches.slice(0, 10).map(function(article, i) {\n    var t = extractText(article, /<h[1-4][^>]*>([^<]{5,300})<\\/h[1-4]>/i);\n    var d = article.match(/<time[^>]*datetime=[\"']([^\"']+)[\"']/i);\n    return { title: t || 'Article ' + (i+1), date: d ? d[1] : null, preview: article.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 500) };\n  });\n  categoryData.totalArticles = articleMatches.length;\n} else if (category === 'reviews') {\n  var reviewMatches = html.match(/<div[^>]*class=\"[^\"]*review[^\"]*\"[^>]*>[\\s\\S]{1,3000}?<\\/div>/gi) || [];\n  categoryData.reviews = reviewMatches.slice(0, 10).map(function(review) {\n    return { text: review.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 500), rating: null, author: null };\n  });\n  categoryData.totalReviews = reviewMatches.length;\n} else if (category === 'pricing') {\n  var priceMatches = html.match(/[\\$\\u20AC\\u00A3]\\s*\\d+(?:[.,]\\d{2})?|\\d+(?:[.,]\\d{2})?\\s*(?:USD|EUR|GBP)/gi) || [];\n  categoryData.prices = priceMatches.slice(0, 20);\n  categoryData.hasPricing = priceMatches.length > 0;\n} else if (category === 'features') {\n  var featureLists = html.match(/<ul[^>]*>[\\s\\S]{1,5000}?<\\/ul>/gi) || [];\n  var features = [];\n  for (var j = 0; j < featureLists.length; j++) {\n    var items = featureLists[j].match(/<li[^>]*>([^<]+)<\\/li>/gi) || [];\n    for (var k = 0; k < items.length; k++) {\n      var text = items[k].replace(/<[^>]+>/g, '').trim();\n      if (text.length > 5 && text.length < 200) features.push(text);\n    }\n  }\n  categoryData.features = features.slice(0, 50);\n}\n\nreturn { \n  url: pageUrl, \n  category: category, \n  companyName: companyName, \n  companyUrl: companyUrl, \n  metadata: { title: title, description: description, h1Tags: h1Tags }, \n  content: categoryData, \n  parsedAt: new Date().toISOString() \n};"
      },
      "id": "f6f3d7af-e5f8-4aca-a829-3dbe548bcafd",
      "name": "Parse Page Content1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        -992
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate by Category - отримуємо companyName/companyUrl з input items\nvar allPages = $input.all();\n\n// Отримуємо companyName та companyUrl з першого item (всі мають однакові значення)\nvar companyName = 'Unknown';\nvar companyUrl = '';\n\nif (allPages.length > 0 && allPages[0].json) {\n  companyName = allPages[0].json.companyName || 'Unknown';\n  companyUrl = allPages[0].json.companyUrl || '';\n}\n\nconsole.log('Aggregate - Company:', companyName, 'URL:', companyUrl, 'Pages count:', allPages.length);\n\nvar byCategory = { blog: [], news: [], reviews: [], pricing: [], features: [] };\n\nfor (var i = 0; i < allPages.length; i++) {\n  var pageData = allPages[i].json;\n  var category = pageData.category;\n  if (byCategory[category]) byCategory[category].push(pageData);\n}\n\nvar stats = {};\nfor (var cat in byCategory) { stats[cat] = byCategory[cat].length; }\n\nreturn { \n  company: companyName, \n  url: companyUrl, \n  companyName: companyName, \n  companyUrl: companyUrl, \n  totalPagesParsed: allPages.length, \n  statistics: stats, \n  categorizedData: byCategory, \n  aggregatedAt: new Date().toISOString() \n};"
      },
      "id": "3366ca67-f0d3-4716-9cdf-7c481191d773",
      "name": "Aggregate by Category1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        -992
      ]
    },
    {
      "parameters": {
        "jsCode": "var response = $input.item.json;\nvar rawContent = response.output || response.text || '';\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  rawContent = response.choices[0].message.content;\n}\nrawContent = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nvar parsedData;\ntry {\n  parsedData = typeof rawContent === 'string' ? JSON.parse(rawContent) : rawContent;\n} catch (e) {\n  parsedData = { company: 'Unknown', url: '', youtubeActivity: '-', linkedinActivity: '-', facebookActivity: '-', aggregatorMentions: '-', socialMentionsCount: 0, newFeatures: [], problems: ['Error: ' + e.message], reviewInsights: '-', news: [], blogArticles: [], customerPains: [], customerWants: [], summary: 'Parsing failed' };\n}\nreturn { company: parsedData.company, url: parsedData.url, youtubeActivity: parsedData.youtubeActivity, linkedinActivity: parsedData.linkedinActivity, facebookActivity: parsedData.facebookActivity, aggregatorMentions: parsedData.aggregatorMentions, socialMentionsCount: parsedData.socialMentionsCount || 0, aiAnalysis: { newFeatures: parsedData.newFeatures, problems: parsedData.problems, reviewInsights: parsedData.reviewInsights, news: parsedData.news, blogArticles: parsedData.blogArticles, customerPains: parsedData.customerPains, customerWants: parsedData.customerWants, summary: parsedData.summary }, parsedAt: new Date().toISOString() };"
      },
      "id": "3a1315e3-3c33-4db2-9d53-6f2aafbc739f",
      "name": "Parse AI JSON Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        -752
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "sheetName": {
          "__rl": true,
          "value": 2127507893,
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "options": {}
      },
      "id": "cf6b4b40-57d0-405f-b626-4471bf8638e7",
      "name": "Get Existing Data1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        3856,
        -928
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check If Company Exists - FIXED: Find NEW data by _isNewData marker\nconst allInputs = $input.all();\n\nconsole.log('=== CHECK IF COMPANY EXISTS ===');\nconsole.log('Total input items:', allInputs.length);\n\n// Шукаємо НОВІ дані по маркеру _isNewData (замість жорсткого input[0])\nlet newData = null;\nlet newDataSource = 'not found';\n\nfor (let i = 0; i < allInputs.length; i++) {\n  const item = allInputs[i];\n  if (item && item.json && item.json._isNewData === true) {\n    newData = item.json;\n    newDataSource = 'input[' + i + '] with _isNewData marker';\n    break;\n  }\n}\n\n// Якщо не знайшли по маркеру, шукаємо по наявності даних аналізу\nif (!newData) {\n  for (let i = 0; i < allInputs.length; i++) {\n    const item = allInputs[i];\n    if (item && item.json) {\n      const data = item.json;\n      // НОВІ дані мають поля аналізу\n      if (data['Нові фічі'] || data['AI Summary'] || data._originalData) {\n        newData = data;\n        newDataSource = 'input[' + i + '] with analysis fields';\n        break;\n      }\n    }\n  }\n}\n\n// Якщо досі не знайшли, беремо перший non-empty item\nif (!newData && allInputs.length > 0) {\n  newData = allInputs[0].json || {};\n  newDataSource = 'input[0] (fallback)';\n}\n\nconsole.log('New data source:', newDataSource);\n\nconst company = newData['Компанія'] || newData._originalData?.company || newData.company || 'Unknown';\nconst url = newData['URL'] || newData._originalData?.url || newData.url || '';\n\nconsole.log('New company:', company);\nconsole.log('New URL:', url);\n\n// Інші inputs - це існуючі рядки з Google Sheets\nconst existingRows = [];\nfor (let i = 0; i < allInputs.length; i++) {\n  const item = allInputs[i];\n  if (item && item.json) {\n    const data = item.json;\n    // Пропускаємо нові дані, збираємо тільки існуючі рядки (з row_number або без _isNewData)\n    if (data._isNewData !== true && (data.row_number || data['Компанія'] || data['Company'])) {\n      existingRows.push(data);\n    }\n  }\n}\n\nconsole.log('Existing rows found:', existingRows.length);\n\n// Шукаємо чи існує така компанія в таблиці\nlet foundRow = null;\nlet rowIndex = -1;\nlet matchedBy = null;\n\nconst searchCompany = String(company || '').toLowerCase().trim();\nconst searchUrl = String(url || '').toLowerCase().trim();\n\nfor (let i = 0; i < existingRows.length; i++) {\n  const row = existingRows[i];\n  const rowCompany = String(row['Компанія'] || row['Company'] || row['company'] || '').toLowerCase().trim();\n  const rowUrl = String(row['URL'] || row['Url'] || row['url'] || '').toLowerCase().trim();\n\n  if (rowCompany === searchCompany || rowUrl === searchUrl) {\n    foundRow = row;\n    rowIndex = i;\n    matchedBy = rowCompany === searchCompany ? 'name' : 'url';\n    console.log('Found existing company at index:', i, 'matched by:', matchedBy);\n    break;\n  }\n}\n\n// ПОВЕРТАЄМО НОВІ ДАНІ + control поля для Update/Append\nconst result = {\n  // Всі дані з НОВОГО аналізу\n  'Дата': newData['Дата'] || new Date().toISOString().split('T')[0],\n  'Компанія': company,\n  'URL': url,\n  'Нові фічі': newData['Нові фічі'] || '-',\n  'Проблеми': newData['Проблеми'] || '-',\n  'Інсайти з коментарів': newData['Інсайти з коментарів'] || '-',\n  'Новини (з останньої перевірки)': newData['Новини (з останньої перевірки)'] || '-',\n  'Статті в блозі (з останньої перевірки)': newData['Статті в блозі (з останньої перевірки)'] || '-',\n  'YouTube активність': newData['YouTube активність'] || newData.youtubeActivity || '-',\n  'Facebook активність': newData['Facebook активність'] || newData.facebookActivity || '-',\n  'LinkedIn активність': newData['LinkedIn активність'] || newData.linkedinActivity || '-',\n  'Згадки на агрегаторах': newData['Згадки на агрегаторах'] || newData.aggregatorMentions || '-',\n  'Кількість згадок в соцмережах': newData['Кількість згадок в соцмережах'] || newData.socialMentionsCount || '0',\n  'Болі клієнтів з коментарів': newData['Болі клієнтів з коментарів'] || '-',\n  'Хотілки клієнтів з коментарів': newData['Хотілки клієнтів з коментарів'] || '-',\n  'AI Summary': newData['AI Summary'] || '-',\n\n  // Control fields for IF node\n  '_action': foundRow ? 'update' : 'append',\n  '_rowId': foundRow ? (foundRow.row_number || foundRow.id || rowIndex + 2) : null,\n  '_isUpdate': !!foundRow,\n  '_matchInfo': foundRow ? {\n    matchedBy: matchedBy,\n    existingCompany: foundRow['Компанія'],\n    existingUrl: foundRow['URL']\n  } : null\n};\n\nconsole.log('Action:', result._action);\nconsole.log('Row ID:', result._rowId);\nconsole.log('Company in result:', result['Компанія']);\nconsole.log('AI Summary length:', (result['AI Summary'] || '').length);\nreturn result;"
      },
      "id": "1de3484f-343d-49b1-bd13-a026b9eabab4",
      "name": "Check If Company Exists1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        -752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json._action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "9ec42ef5-40a7-4872-af3c-30805c21b88a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1cf3196-7627-43c4-8e05-347c758ec517",
      "name": "IF Company Exists1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4368,
        -752
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "sheetName": {
          "__rl": true,
          "value": 2127507893,
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json['Дата'] || new Date().toISOString().split('T')[0] }}",
            "Компанія": "={{ $json['Компанія'] || 'Unknown' }}",
            "URL": "={{ $json['URL'] || '-' }}",
            "Нові фічі": "={{ $json['Нові фічі'] || '-' }}",
            "Проблеми": "={{ $json['Проблеми'] || '-' }}",
            "Інсайти з коментарів": "={{ $json['Інсайти з коментарів'] || '-' }}",
            "Новини (з останньої перевірки)": "={{ $json['Новини (з останньої перевірки)'] || '-' }}",
            "Статті в блозі (з останньої перевірки)": "={{ $json['Статті в блозі (з останньої перевірки)'] || '-' }}",
            "YouTube активність": "={{ $json['YouTube активність'] || '-' }}",
            "Facebook активність": "={{ $json['Facebook активність'] || '-' }}",
            "LinkedIn активність": "={{ $json['LinkedIn активність'] || '-' }}",
            "Згадки на агрегаторах": "={{ $json['Згадки на агрегаторах'] || '-' }}",
            "Кількість згадок в соцмережах": "={{ $json['Кількість згадок в соцмережах'] || '0' }}",
            "Болі клієнтів з коментарів": "={{ $json['Болі клієнтів з коментарів'] || '-' }}",
            "Хотілки клієнтів з коментарів": "={{ $json['Хотілки клієнтів з коментарів'] || '-' }}",
            "AI Summary": "={{ $json['AI Summary'] || '-' }}",
            "isNewEntry": "={{ $json.isNewEntry || 'false' }}"
          },
          "matchingColumns": [
            "Компанія"
          ]
        },
        "options": {}
      },
      "id": "f9e07af7-0660-4b65-ba73-2a1bcc446276",
      "name": "Update Existing Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        4576,
        -848
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SECRET_TOKEN",
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "sheetName": {
          "__rl": true,
          "value": 2127507893,
          "mode": "list",
          "cachedResultName": "Competitor_Analysis_Template"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json['Дата'] || new Date().toISOString().split('T')[0] }}",
            "Компанія": "={{ $json['Компанія'] || 'Unknown' }}",
            "URL": "={{ $json['URL'] || '-' }}",
            "Нові фічі": "={{ $json['Нові фічі'] || '-' }}",
            "Проблеми": "={{ $json['Проблеми'] || '-' }}",
            "Інсайти з коментарів": "={{ $json['Інсайти з коментарів'] || '-' }}",
            "Новини (з останньої перевірки)": "={{ $json['Новини (з останньої перевірки)'] || '-' }}",
            "Статті в блозі (з останньої перевірки)": "={{ $json['Статті в блозі (з останньої перевірки)'] || '-' }}",
            "YouTube активність": "={{ $json['YouTube активність'] || '-' }}",
            "Facebook активність": "={{ $json['Facebook активність'] || '-' }}",
            "LinkedIn активність": "={{ $json['LinkedIn активність'] || '-' }}",
            "Згадки на агрегаторах": "={{ $json['Згадки на агрегаторах'] || '-' }}",
            "Кількість згадок в соцмережах": "={{ $json['Кількість згадок в соцмережах'] || '0' }}",
            "Болі клієнтів з коментарів": "={{ $json['Болі клієнтів з коментарів'] || '-' }}",
            "Хотілки клієнтів з коментарів": "={{ $json['Хотілки клієнтів з коментарів'] || '-' }}",
            "AI Summary": "={{ $json['AI Summary'] || '-' }}",
            "isNewEntry": "={{ $json.isNewEntry || 'false' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Компанія",
              "displayName": "Компанія",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Нові фічі",
              "displayName": "Нові фічі",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Проблеми",
              "displayName": "Проблеми",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Інсайти з коментарів",
              "displayName": "Інсайти з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Новини (з останньої перевірки)",
              "displayName": "Новини (з останньої перевірки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Статті в блозі (з останньої перевірки)",
              "displayName": "Статті в блозі (з останньої перевірки)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YouTube активність",
              "displayName": "YouTube активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook активність",
              "displayName": "Facebook активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn активність",
              "displayName": "LinkedIn активність",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Згадки на агрегаторах",
              "displayName": "Згадки на агрегаторах",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Кількість згадок в соцмережах",
              "displayName": "Кількість згадок в соцмережах",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Болі клієнтів з коментарів",
              "displayName": "Болі клієнтів з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хотілки клієнтів з коментарів",
              "displayName": "Хотілки клієнтів з коментарів",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNewEntry",
              "displayName": "isNewEntry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7fc7ace9-9f0d-4a6c-af7a-5b459443dc60",
      "name": "Append New Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        4576,
        -656
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fp4muo7F0s6hH5VN",
          "name": "мониторинг конкурентів"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format for Sheets - Extract data from multiple sources\nconst data = $input.item.json;\nconst ai = data.aiAnalysis || {};\n\nconsole.log('Format for Sheets3 - Input keys:', Object.keys(data));\nconsole.log('aiAnalysis keys:', ai ? Object.keys(ai) : 'none');\n\nconst arrayToString = (arr) => {\n  if (!Array.isArray(arr)) return \"-\";\n  if (arr.length === 0) return \"-\";\n  return arr.join(\", \");\n};\n\nconst blogToString = (articles) => {\n  if (!Array.isArray(articles)) return \"-\";\n  if (articles.length === 0) return \"-\";\n  return articles.map(a => {\n    const title = a.title || a.name || 'Article';\n    const date = a.date || a.publishedAt || '?';\n    const summary = (a.summary || a.description || a.preview || '').substring(0, 80);\n    return title + \" (\" + date + \"): \" + summary + \"...\";\n  }).join(\" | \");\n};\n\n// ПОВНІШЕ витягування даних з aiAnalysis\nconst newFeatures = ai.newFeatures || ai.features || [];\nconst problems = ai.problems || ai.issues || [];\nconst pains = ai.customerPains || ai.pains || [];\nconst wants = ai.customerWants || ai.wants || [];\nconst news = ai.news || ai.newsItems || [];\nconst blogArticles = ai.blogArticles || ai.blogs || [];\nconst reviewInsights = ai.reviewInsights || ai.reviews || ai.customerInsights || '-';\n\n// Якщо AI не повернув дані, спробуємо взяти з прямих полів\nconst featuresText = newFeatures.length > 0 ? arrayToString(newFeatures) :\n  (data.features || data.newFeatures || '-');\nconst problemsText = problems.length > 0 ? arrayToString(problems) :\n  (data.problems || data.issues || '-');\nconst painsText = pains.length > 0 ? arrayToString(pains) :\n  (data.customerPains || data.pains || '-');\nconst wantsText = wants.length > 0 ? arrayToString(wants) :\n  (data.customerWants || data.wants || '-');\nconst newsText = news.length > 0 ? arrayToString(news) :\n  (data.news || data.newsItems || '-');\nconst blogText = blogArticles.length > 0 ? blogToString(blogArticles) :\n  (data.blogArticles || data.blogs || '-');\nconst insightsText = reviewInsights !== '-' ? reviewInsights :\n  (data.reviewInsights || data.reviews || data.customerInsights || '-');\n\n// YouTube/Facebook/LinkedIn активність\nconst youtubeActivity = data.youtubeActivity || data.youtube || 'Немає даних';\nconst facebookActivity = data.facebookActivity || data.facebook || '-';\nconst linkedinActivity = data.linkedinActivity || data.linkedin || '-';\n\n// G2 / Агрегатори\nconst aggregatorMentions = data.aggregatorMentions || data.g2Data || '-';\n\nconst result = {\n  \"Дата\": new Date().toISOString().split(\"T\")[0],\n  \"Компанія\": data.company || \"Unknown\",\n  \"URL\": data.url || \"\",\n  \"Нові фічі\": featuresText,\n  \"Проблеми\": problemsText,\n  \"Інсайти з коментарів\": insightsText,\n  \"Новини (з останньої перевірки)\": newsText,\n  \"Статті в блозі (з останньої перевірки)\": blogText,\n  \"YouTube активність\": youtubeActivity,\n  \"Facebook активність\": facebookActivity,\n  \"LinkedIn активність\": linkedinActivity,\n  \"Згадки на агрегаторах\": aggregatorMentions,\n  \"Кількість згадок в соцмережах\": String(data.socialMentionsCount || data.socialLinksCount || 0),\n  \"Болі клієнтів з коментарів\": painsText,\n  \"Хотілки клієнтів з коментарів\": wantsText,\n  \"AI Summary\": ai.summary || data.summary || '-',\n  _originalData: { company: data.company, url: data.url, parsedAt: data.parsedAt },\n  _isNewData: true\n};\n\nconsole.log(\"Format for Sheets - Company:\", result[\"Компанія\"]);\nconsole.log(\"Features:\", result[\"Нові фічі\"].substring(0, 50));\nconsole.log(\"Problems:\", result[\"Проблеми\"].substring(0, 50));\nreturn result;"
      },
      "id": "6f925645-c495-46c8-987f-2436a732a567",
      "name": "Format for Sheets3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        -752
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4064,
        -928
      ],
      "id": "927c4d61-638c-4e30-97ed-e06dca483232",
      "name": "Merge5"
    }
  ],
  "connections": {
    "Fetch G2 Page1": {
      "main": [
        [
          {
            "node": "Parse G2 Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse G2 Data1": {
      "main": [
        [
          {
            "node": "Merge Aggregator Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Aggregator Data1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Companies": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Auto-detect YouTube Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto-detect Social Links",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Blog": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Reviews": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Parse All Data": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-detect YouTube Channel": {
      "main": [
        [
          {
            "node": "YouTube API Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube API Search": {
      "main": [
        [
          {
            "node": "Parse YouTube Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse YouTube Data": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Auto-detect Social Links": {
      "main": [
        [
          {
            "node": "Fetch G2 Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Social Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Social Activity": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Parse All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse AI JSON Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'website checker_backup(единственный раочий) (вебхук не тот)'1": {
      "main": [
        [
          {
            "node": "Extract & Filter URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Reviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'website checker_backup(единственный раочий) (вебхук не тот)'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Filter URLs1": {
      "main": [
        [
          {
            "node": "Remove Empty Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Empty Items1": {
      "main": [
        [
          {
            "node": "Set Fields Before Fetch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields Before Fetch1": {
      "main": [
        [
          {
            "node": "Fetch Page Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content1": {
      "main": [
        [
          {
            "node": "Parse Page Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Page Content1": {
      "main": [
        [
          {
            "node": "Aggregate by Category1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate by Category1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Parse AI JSON Response3": {
      "main": [
        [
          {
            "node": "Format for Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Data1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Company Exists1": {
      "main": [
        [
          {
            "node": "IF Company Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Company Exists1": {
      "main": [
        [
          {
            "node": "Update Existing Row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append New Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Row1": {
      "main": [
        [
          {
            "node": "Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Row1": {
      "main": [
        [
          {
            "node": "Loop Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets3": {
      "main": [
        [
          {
            "node": "Get Existing Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Check If Company Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
